.user-card
    display: flex
    flex-direction: column
    width: 22rem
    height: 20rem
    background-color: #e6eeff
    justify-content: center
    top: 0

.user-image
    align-self: center
    border-radius: 50%

.banner-image
    width: 350px
    height: 75px
    display: block

.first-row
    display: flex
    flex-direction: row
    padding: 0.5rem

.second-row
    display: flex
    flex-direction: row
    padding: 0.5rem
    justify-content: space-around

.third-row
    display: flex
    flex-direction: row
    padding: 0.5rem
    justify-content: space-around
