.user-card
    display: flex
    width: 12rem
    background-color: #e6eeff
    justify-content: center
    align-content: center

.first-row
    display: flex
    flex-direction: row

.second-row
    display: flex
    flex-direction: row
